* {
    box-sizing: border-box;
  }
  body{
      background-color: black;
  }
                                    /*----------------product heading  --------------*/
  .product-heading{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aliceblue;
    text-shadow: rgb(212, 43, 99) 0px 0px 10px;
    text-align: center;
  }
  
                                    /*----------------product code --------------*/
.product-code{
    text-align: center;
    color: rgb(105, 105, 105);
    text-decoration: underline overline;
    font-weight: bold;
}
                                    /*----------------product carousel --------------*/
.carousel{
  background-color: black;
  height: 550px;
}

  .carousel-zoom {
    /* padding: 50px; */
    background-color: rgb(0, 0, 0);
    transition: transform .2s;
    width: 65%;
    /* height: 200px; */
    margin: 0 auto;
    overflow: hidden;
  }

  .carousel-img-size{
    width: 350px !important ;
    /* height: 500px; */
    margin: auto;
  } 

 /* =========for mobile screen ========= */

  @media screen and (max-width:700px){
  .carousel-zoom:hover {
    -ms-transform: scale(1.3); 
    -webkit-transform: scale(1.3);
    transform: scale(1.3); 
     overflow: auto;
     
  }
}
  
  

                                        /*---------------- product small picture----------------  */
  
  .small-img-zoom-div{
    width: 360px;
    display: flex;
    flex-direction: row;
  }
  .product-small-img{
    width: 100px;
}
@media screen and (max-width:700px){
  .small-img-zoom {
    transition: transform .5s;
    width: 40px;
    height: 40px;
    overflow: hidden;
    display: inline;
    margin: 0 auto;
    justify-content: center;
    margin: 1px;
    position: relative;
    left: 27%;
    opacity: .5;
  }
}
/*========= for large screen ========= */

@media screen and (min-width:700px){
    .small-img-zoom {
      padding: 1px;
      transition: transform .3s;
      width: 100px;
      height: 100px;
      overflow: hidden;
      display: inline;
      margin: 0 auto;
      justify-content: center;
      position: relative;
      left: 110%;
      opacity: .5;
    }
  }

 /*========= after hover=========  */

  @media screen and (max-width:700px){
  
  .small-img-zoom:hover {
    -ms-transform: scale(5.5); 
    -webkit-transform: scale(5.5); 
    transform: scale(5.3); 
    /* margin-left: 10px; */
    /* margin-right: 10px; */
    overflow: auto;
    border: 1px solid rgb(83, 81, 81);
    z-index: 2;
    opacity: 1;

}
}

 /* =========for large screen ========= */


@media screen and (min-width:700px){
  
    .small-img-zoom:hover {
      -ms-transform: scale(5.5); 
      -webkit-transform: scale(5.5); 
      transform: scale(5.5); 
      /* margin-left: 10px; */
      /* margin-right: 10px; */
      overflow: auto;
      z-index: 2;
      opacity: 1;
  
  }
  }
                                        /*---------------- product price----------------  */

.old-price{
    color: gray;
    text-align: center;
    text-decoration: line-through;
}
.new-price{
    color: rgb(151, 39, 39);
    text-align: center;
}
                                        /*---------------- buy button----------------  */

.buy-button{
  position: sticky;
  bottom: 20px;
  /* top: 75%; */
}

                                        /*---------------- buy modal color----------------  */
.modal-content{
  background-color: rgb(50, 54, 50);
  border-radius: 10px !important;
  color: black;
}

                                                        /* copy btn work  */
  @media screen and (max-width:600px){

  .copied{
    display: none;
  }
  .copy-btn:hover .copied{
    color: black !important;
    font-weight: bold;
    display: block !important;
  }
  .copy-btn:hover .copy{
    display: none;
  }
  }
                          
                    @media screen and (min-width:600px){
  .copied{
    display: none;
  }
  .copy-btn:active .copied{
    color: black !important;
    font-weight: bold;
    display: block !important;
  }
  .copy-btn:active .copy{
    display: none;
  }
  }
                                        /*---------------- product info table----------------  */
 .table{
     width: 90%;
 }
 table{
     margin: 0 auto;
 }